@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    min-width: 320px;
    background: theme('colors.background');
  }

  body {
    @apply m-0 bg-background text-text antialiased;
    font-family: system-ui, sans-serif;
    font-size: 14px;
    line-height: 1.4;
  }

  button,
  select {
    font: inherit;
  }
}
